28122021GithubAnnotationTest/Workflows/28_12_2021_TestFlow1-BE4B52E2-C967-EC11-8F8E-000D3ABA4EA2.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"crd55_sharedsharepointonline_18730"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SPO_Site (crd55_SPO_Site)":{"defaultValue":"https://volvogroup.sharepoint.com/sites/proj-coe_test","type":"String","metadata":{"schemaName":"crd55_SPO_Site"}}},"triggers":{"manual":{"metadata":{"operationMetadataId":"9311d8ed-36b3-40cf-abb4-8a9511e75fa4"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"1ab69178-7d12-44fb-84ea-0692774b1fe6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"test2","type":"string","value":"1"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"4a221679-74c4-4d2f-99e6-1000524a0e29"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"respond":"@{first(outputs('Get_items')?['body'])['Title']}"},"schema":{"type":"object","properties":{"respond":{"title":"respond","x-ms-dynamically-added":true,"type":"string"}}}}},"Get_items":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"2352e319-7a24-4c70-959b-f7bae8a60d6f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SPO_Site (crd55_SPO_Site)')","table":"19b9bff3-bed9-4e00-b7e5-abe9e565b97b","$top":1},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}